%h1 Listing inventories

%table
  %tr
    %th Stuff
    %th In stock
    %th Comment
    %th
    %th
    %th

  - @inventories.each do |inventory|
    %tr
      %td= inventory.stuff_id
      %td= inventory.in_stock
      %td= inventory.comment
      %td= link_to 'Show', inventory
      %td= link_to 'Edit', edit_inventory_path(inventory)
      %td= link_to 'Destroy', inventory, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Inventory', new_inventory_path
%br
= link_to 'Download PDF', {:format => :pdf}