%h1 Lista Inwentaryzacji

-if !@inventories.empty?
  %table.table
    %tr
      %th Nazwa Przedmiotu
      %th Cena
      %th Opis
      %th Na Stanie
      %th Komentarz
      %th Data

    - @inventories.each do |inventory|
    - stuff = Stuff.find(inventory.stuff_id)
      %tr
        %td= stuff.name
        %td= stuff.price
        %td= stuff.description
        %td= inventory.in_stock
        %td= inventory.comment
        %td= inventory.created_at
       

= link_to ' Pobierz PDF', {:format => :pdf}, class: %w(glyphicon glyphicon-download-alt)

%h1 Nowa Inventaryzacja

= render 'form'

%br
%br
%br