%h1 Listing inventories

-if !@inventories.empty?
  %table.table
    %tr
      %th Stuff Name
      %th Price
      %th Description
      %th In stock
      %th Comment
      %th Date

    - @inventories.each do |inventory|
    - stuff = Stuff.find(inventory.stuff_id)
      %tr
        %td= stuff.name
        %td= stuff.price
        %td= stuff.description
        %td= inventory.in_stock
        %td= inventory.comment
        %td= inventory.created_at
       

= link_to ' Download PDF', {:format => :pdf}, class: %w(glyphicon glyphicon-download-alt)

%h1 New inventory

= render 'form'

%br
%br
%br