%p#notice= notice

%p
  %b Owner:
  = @owner.firstname + " " + @owner.lastname
%p
  %b Stuff:
  = @stuff.name
%p
  %b Description:
  = @stuff.description
%p
  %b Price:
  = @stuff.price
%p
  %b In stock:
  = @inventory.in_stock
%p
  %b Comment:
  = @inventory.comment

= link_to 'Edit', edit_inventory_path(@inventory)
\|
= link_to 'Back', inventories_path
