= simple_form_for(@stuff) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :price
    = f.input :in_stock
    = f.input :type_id
    = f.input :class_id
    = f.input :user_id

  .form-actions
    = f.button :submit
