%h1 Wybierz szczegóły raportu

= form_for :list, :class =>"form-control", :url => {:controller => 'stuffs', :action => 'catalog'} do |f|
  .form-group 
    = f.label "Typ"
    = f.collection_select :type_id,  Type.all, :id, :name, {prompt: "Wybierz typ" }, {class: "form-control"}
  .form-group
    = f.label "Sala"
    = f.collection_select :room_id, Room.all, :id, :name, {prompt: "Wybierz sale"}, {class: "form-control"}
  .form-group
    = f.label "Źródło finansowania"
    = f.collection_select :funding_id, Funding.all, :id, :name, {prompt: "Wybierz źródło finansowania" }, {class: "form-control"}
  .form-group
    = f.label "Użytkownik"
    = f.collection_select :user_id, User.all, :id, :lastname, {prompt: "Wybierz użytkownika"}, {class: "form-control"}
  .form-actions
    = f.button "Filtruj", class: "btn btn-success"

%br
%br
%br

%table.table
  %tr
    %th Nazwa
    %th Opis
    %th Cena
    %th Typ
    %th Sala
    %th Właściciel
    %th Źródło finansowania

  
  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td= stuff.description
      %td= stuff.price
      %td= Type.find(stuff.type_id).name
      %td= Room.find(stuff.room_id).name
      - user = User.find(stuff.user_id)
      %td= user.firstname + " " + user.lastname
      %td= Funding.find(stuff.funding_id).name
 

%br
= link_to ' Pobierz PDF', {:format => :pdf}, class: %w(glyphicon glyphicon-download-alt)
%br
%br
