%h1 Listing stuffs

%table.table
  %tr
    %th Name
    %th Description
    %th Price
    %th Type
    %th Class
    %th User
    %th Funding source
    %th
    %th
    %th

  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td= stuff.description
      %td= stuff.price
      %td= stuff.type_id
      %td= stuff.room_id
      %td= stuff.user_id
      %td= stuff.funding_id
      %td= link_to 'Show', stuff
      %td= link_to 'Edit', edit_stuff_path(stuff)
      %td= link_to 'Destroy', stuff, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stuff', new_stuff_path
%br
= link_to 'Download PDF', {:format => :pdf}