%h1 Lista przedmiotów

%table.table
  %tr
    %th Nazwa
    %th Opis
    %th Cena
    %th Typ
    %th Sala
    %th Właściciel
    %th Źródło finansowania
    %th
    %th
    %th

  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td= stuff.description
      %td= stuff.price
      %td= Type.find(stuff.type_id).name
      %td= Room.find(stuff.room_id).name
      - user = User.find(stuff.user_id)
      %td= user.firstname + " " + user.lastname
      %td= Funding.find(stuff.funding_id).name
      %td= link_to '', stuff, class: %w(glyphicon glyphicon-search)
      %td= link_to '', edit_stuff_path(stuff), class: %w(glyphicon glyphicon-pencil)
      %td= link_to '', stuff, class: %w(glyphicon glyphicon-remove), :method => :delete,  :data => { :confirm => 'Are you sure?' }

%br

= link_to ' Nowy Przedmiot', new_stuff_path, class: %w(glyphicon glyphicon-plus)
%br
= link_to ' Pobierz PDF', {:format => :pdf}, class: %w(glyphicon glyphicon-download-alt)
%br
%br