
%h1 Generowanie raportu:

= form_for :list, :url => {:controller => 'stuffs', :action => 'raport'} do |f|
  .form-group
    = f.label :start_date
    = select_date Date.today, prefix: :start_date
  .form-group
    = f.label :end_date
    = select_date Date.today, prefix: :end_date
  .form-actions
    = f.button :submit

%br
%br
%br


%table.table
  %tr
    %th ID
    %th Nazwa
    %th Opis
    %th Cena
    %th Na stanie
    %th Komentarz



  -if @inventories
    - @inventories.each do |inventory|
      %tr
        %td= Stuff.find(inventory.stuff_id).id
        %td= Stuff.find(inventory.stuff_id).name
        %td= Stuff.find(inventory.stuff_id).description
        %td= Stuff.find(inventory.stuff_id).price
        %td= inventory.in_stock
        %td= inventory.comment
   
%br
= link_to ' Pobierz PDF', pdfraport_path(:starts => @starts, :ends => @ends,:format => :pdf), class: %w(glyphicon glyphicon-download-alt)