%p#notice= notice

%p
  %b Name:
  = @stuff.name
%p
  %b Description:
  = @stuff.description
%p
  %b Price:
  = @stuff.price
%p
  %b Type:
  = @stuff.type_id
%p
  %b Class:
  = @stuff.room_id
%p
  %b User:
  = @stuff.user_id
%p
  %b Funding source:
  = @stuff.funding_id

%br
= link_to ' Download PDF', {:format => :pdf}, class: %w(glyphicon glyphicon-download-alt)