%p
  %b Nazwa:
  = @stuff.name
%p
  %b Opis:
  = @stuff.description
%p
  %b Wartość:
  = @stuff.price
%p
  %b Typ:
  = @stuff.type_id
%p
  %b Pokój:
  = @stuff.room_id
%p
  %b Właściciel:
  = @stuff.user_id
%p
  %b Źródło finansowania:
  = @stuff.funding_id