%p#notice= notice

%p
  %b Name:
  = @stuff.name
%p
  %b Description:
  = @stuff.description
%p
  %b Price:
  = @stuff.price
%p
  %b In stock:
  = @stuff.in_stock
%p
  %b Type:
  = @stuff.type_id
%p
  %b Class:
  = @stuff.class_id
%p
  %b User:
  = @stuff.user_id

= link_to 'Edit', edit_stuff_path(@stuff)
\|
= link_to 'Back', stuffs_path
