- if notice
  %div.alert.alert-info
    %p#notice= notice
%h1 Lista Typów

%table.table
  %tr
    %th Nazwa
    %th 
    %th
    %th

  - @types.each do |type|
    %tr
      %td= type.name
      %td= link_to '', type, class: %w(glyphicon glyphicon-search)
      %td= link_to '', edit_type_path(type), class: %w(glyphicon glyphicon-pencil)
      %td= link_to '', type, class: %w(glyphicon glyphicon-remove), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to ' Nowy Typ', new_type_path, class: %w(glyphicon glyphicon-plus)
