%p#notice= notice

%p

%h1 
  Listing stuffs in type 
  = @type.name

%table.table
  %tr
    %th Name
    %th Description
    %th Price
    %th Class
    %th User
    %th Funding source
    %th
    %th
    %th

  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td= stuff.description
      %td= stuff.price
      %td= Room.find(stuff.room_id).name
      %td= stuff.user_id
      %td= stuff.funding_id
      %td= link_to 'Show', type_stuff_path(@type.id, stuff)
      %td= link_to 'Edit', edit_type_stuff_path(@type.id, stuff)
      %td= link_to 'Destroy', type_stuff_path(@type.id, stuff), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stuff', new_type_stuff_path(:type_id => @type.id)
= link_to 'Back', types_path
%br
= link_to 'Download PDF', {:format => :pdf}

