%h1 
  Lista przedmiotów typu
  = @type.name

%table.table
  %tr
    %th Nazwa
    %th Opis
    %th Cena
    %th Sala
    %th Właściciel
    %th Źródło finansowania

  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td= stuff.description
      %td= stuff.price
      %td= Room.find(stuff.room_id).name
      %td= stuff.user_id
      %td= stuff.funding_id