%h1 Listing rooms

%table.table
  %tr
    %th Name
    %th
    %th
    %th

  - @rooms.each do |room|
    %tr
      %td= room.name
      %td= link_to '', room, class: %w(glyphicon glyphicon-search)
      %td= link_to '', edit_room_path(room), class: %w(glyphicon glyphicon-pencil)
      %td= link_to '', room, class: %w(glyphicon glyphicon-remove), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to ' New Room', new_room_path, class: %w(glyphicon glyphicon-plus)
