%h1 Listing fundings

%table.table
  %tr
    %th Name
    %th
    %th
    %th

  - @fundings.each do |funding|
    %tr
      %td= funding.name
      %td= link_to '', funding, class: %w(glyphicon glyphicon-search)
      %td= link_to '', edit_funding_path(funding), class: %w(glyphicon glyphicon-pencil)
      %td= link_to '', funding, class: %w(glyphicon glyphicon-remove), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to ' New Funding', new_funding_path, class: %w(glyphicon glyphicon-plus)
