%h1 Listing fundings

%table.table
  %tr
    %th Name
    %th
    %th
    %th

  - @fundings.each do |funding|
    %tr
      %td= funding.name
      %td= link_to 'Show', funding
      %td= link_to 'Edit', edit_funding_path(funding)
      %td= link_to 'Destroy', funding, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Funding', new_funding_path
