%h1 Lista źródeł finansowania

%table.table
  %tr
    %th Nazwa
    %th
    %th
    %th

  - @fundings.each do |funding|
    %tr
      %td= funding.name
      %td= link_to '', funding, class: %w(glyphicon glyphicon-search)
      %td= link_to '', edit_funding_path(funding), class: %w(glyphicon glyphicon-pencil)
      %td= link_to '', funding, class: %w(glyphicon glyphicon-remove), :method => :delete, :data => { :confirm => 'Czy napewno chcesz usunąć ?' }

%br

= link_to ' Nowe źródło finansowania.', new_funding_path, class: %w(glyphicon glyphicon-plus)
