%h1 
  Lista przedmiotów ufundowana przez  
  = @funding.name

%table.table
  %tr
    %th Nazwa
    %th Opis
    %th Cena
    %th Typ
    %th Sala
    %th Właściciel
    %th Źródło finansowania

  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td= stuff.description
      %td= stuff.price
      %td= Type.find(stuff.type_id).name
      %td= Room.find(stuff.room_id).name
      - user = User.find(stuff.user_id)
      %td= user.firstname + " " + user.lastname
      %td= Funding.find(stuff.funding_id).name
