%p#notice= notice

%p
%h1 
  Lista przedmiotów ufundowana przez  
  = @funding.name

%table.table
  %tr
    %th Nazwa
    %th Opis
    %th Cena
    %th Typ
    %th Sala
    %th Właściciel
    %th Źródło finansowania
    %th
    %th
    %th

  - @stuffs.each do |stuff|
    %tr
      %td= stuff.name
      %td= stuff.description
      %td= stuff.price
      %td= stuff.type_id
      %td= stuff.room_id
      %td= stuff.user_id
      %td= stuff.funding_id

%br

= link_to ' Powrót', fundings_path, class: %w(glyphicon glyphicon-chevron-left)
%br
= link_to ' Pobierz PDF', {:format => :pdf}, class: %w(glyphicon glyphicon-download-alt)