!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand StuffRegister
        %ul.nav.navbar-nav
          %li
            = link_to("Wszystkie zasoby", stuffs_path)
          %li
            = link_to("Typy", types_path)
          %li
            = link_to("Sale", rooms_path)
          %li
            = link_to("Źródła finansowania", fundings_path)
          %li
            = link_to("Inwentaryzacja", new_inventory_path)
          %li
            = link_to("Katalog", catalog_path)
          %li
            = link_to("Raporty", raport_path)                  

        %p.navbar-text.navbar-right
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              %li
                = link_to(current_user.email, edit_user_registration_path)
              %li
                = link_to('Wyloguj', destroy_user_session_path,  :method=>'delete')
            -else
              %li
                %a{:href => new_user_session_path} Zaloguj się
              %li
                %a{:href => new_user_registration_path} Zarejestruj się
    .container-fluid
      .row
        .col-lg-12
          = yield
